
@{
    ViewBag.Title = "Index";
}

<h2><center>Control</center><b></b></h2><br />

@*@using (Html.BeginForm("elementos", "operacion_conjuntos", FormMethod.Post))
{*@

    <div class="form-group" style="background-color:aquamarine">
        <center><label><b>Reservorio</b> </label></center><br />
        <div class="row">
            <div class="col" style="margin:auto " >
                <center><label><b>Matriz Principal:</b> </label></center><br />
                <center><button type="submit" class="btn btn-primary" name="1" value="1"> Abrir</button></center><br />
                <center><button type="submit" class="btn btn-primary" name="a" value="a"> Cerrar</button></center>
                <br />
            </div>
            <div class="col" style="background-color:darkgoldenrod">
                <center><label><b>Salida :</b> </label></center><br />
                <center><button type="submit" class="btn btn-primary" name="2" value="2"> Abrir</button></center><br />
                <center><button type="submit" class="btn btn-primary" name="b" value="b"> Cerrar</button></center>
                <br />
            </div>
            <div class="col">
                <center><label><b>Tiempo :</b> </label></center><br />

            </div>
        </div>
    </div>
 <div class="form-group" style="background-color:aquamarine">
        <center><label><b>Control Llenado (Reservorio)</b> </label></center><br />
        <div class="row">
            <div class="col" style="margin:auto " >
                <center><label><b>Cantidad:</b> </label></center><br />
                <center><button type="submit" class="btn btn-primary" name="3" value="3"> Verificar</button></center><br />
                <br />
            </div>
            <div class="col">
                <center><label><b>Por llenar :</b> </label></center><br />
                <center><button type="submit" class="btn btn-primary" name="4" value="4"> Verificar</button></center><br />
                <br />
            </div>
        </div>
    </div>
 <div class="form-group" style="background-color:aquamarine">
        <center><label><b>Control Riego</b> </label></center><br />
        <div class="row">
            <div class="col" >
                <center><label><b>Matriz Principal:</b> </label></center><br />
                <center><button type="submit" class="btn btn-primary" name="5" value="5"> Abrir</button></center><br />
                <center><button type="submit" class="btn btn-primary" name="c" value="c"> Cerrar</button></center>
                <br />
            </div>
            </div>
      <div class="row">
            <div class="col" >
                <center><label><b>Lado A:</b> </label></center><br />
                <center><button type="submit" class="btn btn-primary" name="6" value="6"> Abrir</button></center><br />
                <center><button type="submit" class="btn btn-primary" name="d" value="d"> Cerrar</button></center>
                <br />
            </div>
           <div class="col" >
                <center><label><b>Lado B:</b> </label></center><br />
                <center><button type="submit" class="btn btn-primary" name="7" value="7"> Abrir</button></center><br />
                <center><button type="submit" class="btn btn-primary" name="e" value="e"> Cerrar</button></center>
                <br />
            </div>
            </div>

        </div>
    </div>

@*}*@

